[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
six = "*"
python-dateutil = "*"
kafka-python-ng = "*"
websockets = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.6"
